<h1>Followed Users Posts</h1>

<% if @posts.any? %>
  <% for post in @posts %>
    <div>
      <%= link_to post.title, post_path(post) %>
      <%= truncate post.content, length:100  %>
      <%= post.created_at %>
      <%= post.user.username %>
    </div>
    <br/>
  <% end %>
<% else %>
  <p>No posts yet.</p>
<% end %>

<h2>Users</h2>
  <% for user in @users %>
    <div>
      <%= link_to user.username, user_path(user) %>
      <%= user.email %>
    </div>
    <br/>
  <% end %>